<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Car Service</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
</head>
<body>
<!-- Topbar Start -->
<topbar class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small th:text="#{addressService}">BURGAS, BULGARIA</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small th:text="#{mondayFriday}+' : '+ #{weekendWarkingHours}">Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 887 667899</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</topbar>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>Car Service</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/home}" class="nav-item nav-link active" sec:authorize="isAuthenticated()"
               th:text="#{home}">Home</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" sec:authorize="isAnonymous()"
                   th:text="#{login}">Login/Register</a>
                <div class="dropdown-menu fade-up m-0">
                    <a th:href="@{/login}" class="dropdown-item" th:text="#{login}">Login</a>
                    <a th:href="@{/register}" class="dropdown-item" th:text="#{register}">Register</a>
                </div>
            </div>
            <a th:href="@{/service}" class="nav-item nav-link" th:text="#{services}">Services</a>
            <a th:href="@{/about}" class="nav-item nav-link" th:text="#{about}">About Us</a>
            <a th:href="@{/contact}" class="nav-item nav-link" th:text="#{contact}">Contact</a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" th:text="#{language}">Language</a>
                <div class="dropdown-menu fade-up m-0">
                    <a class="dropdown-item" href="?lang=en_US" th:text="#{english}">English</a>
                    <a class="dropdown-item" href="?lang=bg_BG" th:text="#{bulgarian}">Български</a>
                </div>
            </div>
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <div class="my-2 my-lg-0 pt-3">
                    <form th:method="post" th:action="@{/users/logout}">
                        <input class="nav-item button" type="submit" value="Logout" th:value="#{logout}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Navbar End -->

<!--Footer start-->
<footer class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4" th:text="#{address}">Address</h4>
                <p class="mb-2" th:text="#{addressService}"><i class="fa fa-map-marker-alt me-3"></i>15 Zdrave Street, BURGAS, BULGARIA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+359 887 667899</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@carservice.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4" th:text="#{openHours}">Opening Hours</h4>
                <h6 class="text-light" th:text="#{mondayFriday}">Monday - Friday:</h6>
                <p class="mb-4" th:text="#{weekendWarkingHours}">09.00 AM - 09.00 PM</p>
                <h6 class="text-light" th:text="#{saturdaySunday}">Saturday - Sunday:</h6>
                <p class="mb-0" th:text="#{weekendWarkingHours}">09.00 AM - 12.00 PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4" th:text="#{services}">Services</h4>
                <a class="btn btn-link" href="" th:text="#{diagnostic}">Diagnostic Test</a>
                <a class="btn btn-link" href="" th:text="#{engineService}">Engine Servicing</a>
                <a class="btn btn-link" href="" th:text="#{tiresReplacement}">Tires Replacement</a>
                <a class="btn btn-link" href="" th:text="#{oilChange}">Oil Changing</a>
                <a class="btn btn-link" href="" th:text="#{vacuamCleaning}">Vacuam Cleaning</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Newsletter</h4>
                <p>Subscribe for our newsletter. Always stay informed about news and our services!</p>
                <form th:method="post"
                      th:action="@{/subscribe}"
                      th:object="${subscriberDTO}" class="position-relative mx-auto" style="max-width: 400px;">
                    <input th:type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input th:field="*{subsEmail}" th:errorclass="is-invalid"
                           class="form-control border-0 w-100 py-3 ps-4 pe-5" type="email" id="subsEmail"
                           name="subsEmail" placeholder="Your email">
                    <button type="submit" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
                        Subscribe
                    </button>
                    <div th:if="${#fields.hasErrors('subsEmail')}" class="invalid-feedback">
                        <span th:errors="*{subsEmail}">Invalid email</span>
                    </div>
                </form>
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">CAR SERVICE</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">MK6300</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->
<sidebar class="sidebar">
    <a sec:authorize="hasRole('USER')" th:href="@{/users/garage}" th:text="#{garage}">My Garage</a>
    <a sec:authorize="hasRole('USER')" th:href="@{/orders/add-order}" th:text="#{newOrder}">New Service Order</a>
    <a sec:authorize="hasRole('USER')" th:href="@{/orders/my-orders}" th:text="#{myOrders}">My Service Orders</a>
    <a sec:authorize="hasAnyRole ('ADMIN','MECHANIC')" th:href="@{/mechanic/tasks}" th:text="#{tasksForMe}">Tasks For Me</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/unsigned-orders}" th:text="#{unassignedOrders}">Unsigned Orders</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/orders/all-orders}" th:text="#{allOrders}">All Orders</a>
    <a sec:authorize="hasAnyRole ('ADMIN','MECHANIC')" th:href="@{/supplier/suppliers}" th:text="#{manageSuppliers}">Manage Suppliers</a>
    <a sec:authorize="hasAnyRole ('ADMIN','MECHANIC')" th:href="@{/parts/manage-parts}" th:text="#{manageSpareParts}">Manage Spare Parts</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/services/manage-services}" th:text="#{manageServices}">Manage Services</a>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/manage-users}" th:text="#{manageUsers}">Manage Users</a>
    <a sec:authorize="hasRole('USER')"th:href="@{/users/my-profile}" th:text="#{myProfile}">My profile</a>

</sidebar>
<!--Side Bar-->

</body>
</html>