<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Car Service - Add Supplier</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<!-- Spinner Start-->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only" th:text="#{loading}">Loading...</span>
    </div>
</div>
<!-- Spinner End-->
<!-- Topbar Start -->
<div th:replace="fragments/commons::topbar"></div>
<!-- Topbar End -->
<!-- Navbar Start -->
<header th:replace="~{fragments/commons::nav(activeLink=${'add-order'})}"></header>

<div class="main-container">
    <div th:replace="~{fragments/commons::sidebar}"></div>
    <div class="content" id="content">
        <h2 class="text-center text-black mt-5 text-danger" th:text="#{add.supplier.title}">ADD NEW SPARE PARTS SUPPLIER</h2>
        <div class="main-form mx-auto col-md-8 flex flex-column justify-content-center">
            <form th:action="@{/supplier/add-supplier}"
                  th:object="${addSupplierDTO}" method="post">
                <div class="container">
                    <div class="row justify-content-center align-items-center mt-5">
                        <div class="d-inline-flex align-items-center mb-5">
                            <label class="text-uppercase w-25" th:text="#{name}">Name</label>
                            <input th:field="*{name}" th:errorclass="'is-invalid'" type="text"
                                   class="form-control mx-2 uppercase align-content-center w-50"
                                   name="name" id="name">
                            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="danger"></small>
                        </div>
                        <div class="d-inline-flex align-items-center mb-5">
                            <label class="text-uppercase w-25" th:text="#{address}">Address</label>
                            <input th:field="*{address}" th:errorclass="'is-invalid'" type="text"
                                   class="form-control mx-2 uppercase align-content-center w-50"
                                   name="address" id="address">
                            <small th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                   class="danger"></small>
                        </div>
                        <div class="d-inline-flex align-items-center mb-5">
                            <label class="text-uppercase w-25" th:text="#{phone}">Phone Number</label>
                            <input th:field="*{phoneNumber}" th:errorclass="'is-invalid'" type="text"
                                   class="form-control mx-2 uppercase align-content-center w-50"
                                   name="phoneNumber" id="phoneNumber">
                            <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                   class="danger"></small>
                        </div>
                        <div class="d-inline-flex align-items-center mb-5">
                            <label class="text-uppercase w-25" th:text="#{email}">E-mail Address</label>
                            <input th:field="*{email}" th:errorclass="'is-invalid'" type="text"
                                   class="form-control mx-2 uppercase align-content-center w-50"
                                   name="email" id="email">
                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                   class="danger"></small>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <textarea th:feild="*{information}" th:errorclass="'is-invalid'" type="text"
                                      class="form-control col-xs-12" rows="7" cols="50"
                                      name="information" id="information"
                                      th:placeholder="#{suppliers.supplierInfo}"></textarea>
                            <small th:if="${#fields.hasErrors('information')}" th:errors="*{information}"
                                   class="danger"></small>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn-lg blue mt-3 text-danger fw-bold text-uppercase" type="submit" th:text="#{add.supplier.button}">Add New Spare Parts
                                Supplier
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>