<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Car Service - All Orders</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- Spinner Start-->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End-->


<!-- Topbar Start -->
<div th:replace="~{fragments/commons::topbar}"></div>
<!-- Topbar End -->
<!-- Navbar Start -->
<header th:replace="~{fragments/commons::nav (activeLink=${'home'})}"></header>
<div class="main-container">
    <div th:replace="~{fragments/commons::sidebar}"></div>
    <div class="content" id="content">
        <div>
            <h1 class="d-flex justify-content-center text-danger">ALL ORDERS</h1>
            <div th:each="o: ${orders}" class="rounded m-auto">
                <div class="border p-3">
                    <h4 class="mySticky bg-gray text-dark rounded text-uppercase"
                        th:text="'Service order for Car: '+${o.car.make}+' '+${o.car.model}+' - '+${o.car.registration}"></h4>
                    <div class="d-flex mt-3 rounded align-items-center ">
                        <label th:text="#{date}"> Date</label>
                        <span th:text="${o.date}" class="text-uppercase form-control mx-2 w-25"></span>
                        <label th:text="#{description}"> Description </label>
                        <span th:text="${o.description}" class="text-uppercase form-control mx-2"></span>
                        <label th:text="#{status}">Status</label>
                        <span th:text="${o.status}" th:style="${o.getStatus == 'Scheduled'}
                             ? 'background-color: green; color: white;' : (${o.getStatus == 'Pending'} ? 'background-color: yellow; color: white;' : (${o.getStatus == 'In Progress'} ? 'background-color: red; color: white;' :
                            (${o.getStatus == 'Finished'} ? 'background-color: blue; color:white' : '')))"
                              class="text-uppercase form-control mx-2 w-25 bg">
                        </span>
                    </div>
                    <div th:if="${o.mechanic!=null}" class="justify-content-center mt-4">
                        <div class="center">
                            <span th:text="#{setResponsibleMechanic}+': '+${o.mechanic.firstName}+' '+${o.mechanic.lastName}"
                                  class="text-uppercase form-control w-50"> </span>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <form th:if="${o.getStatus == 'Scheduled' or o.getStatus=='Pending' or o.getStatus=='Finished'}"  th:method="delete" th:action="@{/orders/remove/{id}(id=*{o.id})}">
                            <input type="submit"
                                   class="btn btn-link text-danger text-uppercase border-primary mx-2"
                                   th:value="#{removeOrder}">
                        </form>
                        <form th:method="get" th:action="@{/orders/history/{id}(id=*{o.id})}">
                            <button type="submit"
                                    class="btn btn-link text-danger text-uppercase border-primary mx-2">Details
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form th:method="get" th:action="@{/home}">
                <button type="submit"
                        class="btn-link float-right text-uppercase align-content-center border-primary mt-5"
                        th:text="#{back}">Back
                </button>
            </form>
        </div>
    </div>
</div>
</div>

<footer th:replace="~{fragments/commons::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>

</body>
</html>