<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Car Service - Edit Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/images/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
<!-- Spinner Start-->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End-->
<!-- Topbar Start -->
<div th:replace="fragments/commons::topbar"></div>
<!-- Topbar End -->
<!-- Navbar Start -->
<header th:replace="~{fragments/commons::nav(activeLink=${'home'})}"></header>

<div class="main-container">
    <div th:replace="~{fragments/commons::sidebar}"></div>
    <div class="container">
        <h2>Edit Service Details</h2>
        <form class="mt-4" th:action="@{/services/edit}" th:object="${editServiceDTO}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="name" th:text="#{name}">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control mx-2 uppercase align-content-center w-50"/>
            </div>
            <div class="form-group mt-3">
                <label for="price" th:text="#{price}">Price:</label>
                <input name="price" type="number" step="0.01" id="price" th:field="*{price}" th:errorclass="'is-invalid'" class="form-control mx-2 uppercase align-content-center w-50"/>
                <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></small>
            </div>
            <div class="form-group mt-3">
                <label for="description" th:text="#{description}">Description:</label>
                <input name="description" type="text" id="description" th:field="*{description}" th:errorclass="'is-invalid'" class="form-control mx-2 uppercase align-content-center w-50"/>
                <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></small>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-5">Update Service Details</button>
                <a class="btn btn-primary danger mt-5" th:href="@{/services/manage-services}" th:text="#{cancel}">Cancel</a>
            </div>
        </form>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>