<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Car Service - Order Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
<!-- Spinner Start-->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End-->


<!-- Topbar Start -->
<div th:replace="~{fragments/commons::topbar}"></div>
<!-- Topbar End -->
<!-- Navbar Start -->
<header th:replace="~{fragments/commons::nav (activeLink=${'home'})}"></header>
<div class="main-container">
    <div th:replace="~{fragments/commons::sidebar}"></div>
    <div class="container mx-2 mt-3">
        <h2 th:text="#{task.finishedTask.title}">Finished Order Task Details</h2>
        <div class="border p-3">
            <div>
                <h4 class="bg-gray text-dark rounded text-uppercase justify-content-center"
                    th:text="'Service order for Car: '+${order.car.make}+' '+${order.car.model}+' - '+${order.car.registration}"></h4>
                <div class="d-flex mt-3 rounded align-items-center ">
                    <label th:text="#{date}"> Date</label>
                    <span th:text="${order.date}" class="text-uppercase form-control lh-base w-25"></span>
                    <label th:text="#{description}"> Description </label>
                    <span th:text="${order.description}" class="text-uppercase form-control"></span>
                    <label th:text="#{status}">Status</label>
                    <span th:text="${order.status}" th:style="${order.status == 'Scheduled'}
                           ? 'background-color: green; color: white;' : (${order.status == 'In Progress'} ? 'background-color: red; color: white;' :
                            (${order.status == 'Finished'} ? 'background-color: blue; color:white' : (${order.status == 'Pending'} ? 'background-color: yellow; color: black;' : '')))"
                          class="text-uppercase form-control mx-2 w-25 bg">
                     </span>
                </div>
            </div>
        </div>
        <div class="border p-3 mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="bg-gray text-dark rounded text-uppercase justify-content-center" th:text="#{task.usedParts}">Used Spare
                            Parts</h5>
                        <div class="mt-2 rounded">
                            <div th:each="part : ${parts}" class="d-flex mx-2">
                                <label>Part Name</label>
                                <div th:text="${part.name}" class="text-uppercase form-control lh-base w-50"></div>
                                <label>Part Price</label>
                                <span th:text="${#numbers.formatDecimal(part.price, 2, 2)}" class="text-uppercase form-control lh-base w-25"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="bg-gray text-dark rounded text-uppercase justify-content-center" th:text="#{task.usedServices}">Made Services</h5>
                        <div class="mt-2 rounded">
                            <div th:each="s : ${services}" class="d-flex mx-2">
                                <label>Service Name</label>
                                <div th:text="${s.name}" class="text-uppercase form-control lh-base w-50"></div>
                                <label>Service Price</label>
                                <span th:text="${#numbers.formatDecimal(s.price, 2, 2)}" class="text-uppercase form-control lh-base w-25"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="text-uppercase font-weight-bold">
                            <label th:text="#{task.totalPartsPrice}">Total Spare Parts Price</label>
                            <span th:text="${#numbers.formatDecimal(orderPartsPrice, 2, 2)}"
                                  class="text-uppercase form-control lh-base"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-uppercase">
                            <label th:text="#{task.totalServicesPrice}">Total Services Price</label>
                            <span th:text="${#numbers.formatDecimal(orderServicePrice, 2, 2)}"
                                  class="text-uppercase form-control lh-base"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mt-3 rounded justify-content-center">
            <div class="text-uppercase fs-5 fw-bold text-danger center">
                <label th:text="#{task.totalPrice}"> Services and Parts Total Price</label>
                <span th:text="${#numbers.formatDecimal(totalPrice, 2, 2)}"
                      class="text-uppercase form-control lh-base fs-5 fw-bold text-center"></span>
            </div>
        </div>
        <div class="d-inline justify-content-center align-items-center mx-auto">
            <h4 class="bg-gray text-dark rounded text-uppercase justify-content-center" th:text="#{task.mechaincComment}">Mechanic Comments</h4>
            <span th:text="*{order.mechanicComment}" type="text"
                  class="form-control col-xs-12" rows="5" cols="90"
                  name="mechanicComment" id="mechanicComment">
            </span>
        </div>
        <div class="d-flex justify-content-lg-center mt-4">
            <button class="btn-link float-right text-uppercase align-content-center border-primary mt-5"
                    th:text="#{back}" onclick="goBack()">Go Back
            </button>
            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<!-- Template Javascript -->
<script src="/js/main.js"></script>

</body>
</html>