<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>CarServ - Car Service</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
        <link href="/images/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
<!-- Topbar Start -->
<div th:replace="~{fragments/commons::topbar}"> </div>
<!-- Topbar End -->
<!-- Navbar Start -->
<header th:replace="~{fragments/commons::nav(activeLink=${'register'})}"></header>
<main>
    <div class="container">
        <h2 class="text-center text">Register New User</h2>
        <form th:method="post"
              th:action="@{/users/register}"
              th:object="${registerUserDTO}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="form-group">
                <div class="label-holder textCol d-flex justify-content-center">
                    <label for="username" class="h4 mb-2">Username</label>
                </div>

                <input th:field="*{username}" th:errorclass="'is-invalid'"
                       type="text" class="form-control justify-content-center" id="username" name="username" placeholder="Choose Your Username"/>
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="password" class="h4 mb-2">Password</label>
                </div>
                <input th:field="*{password}"
                       th:errorclass="'is-invalid'"
                       type="password" class="form-control" id="password" name="password"
                       placeholder="Password"/>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password error message</small>
            </div>

            <div class="form-group">
                <div class="label-holder text-white textCol d-flex justify-content-center">
                    <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
                </div>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                       th:errorclass="bg-danger"
                       placeholder="Confirm Password"/>
                <small th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}"
                       class="text-danger">Password error message</small>
            </div>

            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label th:for="firstName" class="text-black font-weight-bold">First Name</label>
                    <input  th:field="*{firstName}"
                            type="text"
                            class="form-control"
                            placeholder="First name"/>
                    <small th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}"
                           class="text-danger">First name can't be blank</small>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label th:for="lastName" class="text-black font-weight-bold">Last Name</label>
                    <input
                            th:field="*{lastName}"
                            type="text"
                            class="form-control"
                            placeholder="Last name"/>
                    <small th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}"
                           class="text-danger">Last name can't be blank</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label th:for="email" class="text-black font-weight-bold">Email</label>
                    <input
                            th:field="*{email}"
                            type="text"
                            class="form-control"
                            placeholder="Email"/>
                    <small th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}"
                           class="text-danger">Need add valid e-mail address</small>
                </div>
                <div class="form-group col-md-6 mb-3 justify-content-center">
                    <label th:for="phone" class="text-black font-weight-bold">Phone Number</label>
                    <input
                            th:field="*{phone}"
                            type="text"
                            class="form-control"
                            placeholder="Phone"/>
                    <small th:if="${#fields.hasErrors('phone')}"
                           th:errors="*{phone}"
                           class="text-danger">Need add valid phone number</small>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col col-md-4">
                    <div class="button-holder d-flex justify-content-center">
                        <input type="submit" class="btn btn-info btn-lg" value="Register New User"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
